@font-face {
  font-family: "ledlight";
  src: url("../app/fonts/LEDLIGHT.otf");
}
@font-face {
  font-family: "linebeam";
  src: url("../app/fonts/Linebeam.ttf");
}

.main {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  background: url("../../public/hero.jpg") black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    position: fixed;
    color: rgba(black, 0.3);
    bottom: 13rem;
    right: 0;
    font: {
      size: 6rem;
      family: "linebeam";
      weight: 200;
    }
    text-transform: uppercase;
    writing-mode: sideways-lr;
  }
  article {
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      object-fit: contain;
    }
  }
}

.hero {
  border: 1px solid red;
  filter: drop-shadow(0 0 5rem blue) blur(10px);
  animation: zoomIn 0.2s linear forwards infinite;
  mix-blend-mode: color-dodge;
  overflow: hidden;
}

.neon {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  background: rgba(blue, 0.3);
  mix-blend-mode: color;
  img {
    filter: blur(5px);
    opacity: 1;

    filter: drop-shadow(var(--shift) 0 0 cyan)
      drop-shadow(calc(-1 * var(--shift)) 0 0 red) blur(50px);
  }
  animation: changeShadow 0.2s ease-in-out forwards infinite alternate;
}

.shadows {
  border: 1px solid orange;

  img {
    mix-blend-mode: color-dodge;
    animation: strobing 3s linear forwards infinite;
    &:first-of-type {
      // margin-left: 5rem;
      opacity: 1;

      filter: drop-shadow(0 0 1rem black);
    }
    // &:last-of-type {
    //   margin-left: -5rem;
    //   opacity: 1;
    //   filter:drop-shadow(0 0 1rem red) hue-rotate(-20deg);
    // }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes strobing {
  0%,
  70% {
    background: rgba(white, 1);
  }

  20%,
  60%,
  80% {
    background: transparent;
  }
}

@keyframes changeShadow {
  0% {
    --shift: 0px;
    opacity: 0;
  }

  100% {
    --shift: 50px;
    opacity: 1;
  }
}

@property --shift {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}
