@font-face {
  font-family: "1up";
  src: url("../app/fonts/1up.ttf");
}

.main {
  width: 100dvw;
  height: 100dvh;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, black 85%);
    z-index: 1;
    pointer-events: none;
  }
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  flex: 0 0 100%;
  z-index: 2;
  
  font: {
    size: 2rem;
    family: "1up";
  }
  mix-blend-mode: screen;
  
}
