@font-face {
  font-family: "ledlight";
  src: url("../app/fonts/LEDLIGHT.otf");
}
@font-face {
  font-family: "linebeam";
  src: url("../app/fonts/Linebeam.ttf");
}
@font-face {
  font-family: "blindish";
  src: url("../app/fonts/BLINDSH.ttf");
}

.main {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  background: url("../../public/hero.jpg") black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  h1 {
    position: fixed;
    color: white;
    top: 2.5rem;
    text-transform: uppercase;
    font: {
      family: "blindish";
      size: 4.3rem;
      weight: 200;
    }
    width: 100%;
    text-align: center;
    z-index: 1;
  }
  h2 {
    position: fixed;
    color: fuchsia;
    bottom: 2.5rem;
    text-transform: uppercase;
    font: {
      family: "blindish";
      size: 4.3rem;
      weight: 200;
      isolation: isolate;
    }
    width: 100%;
    text-align: center;
  }
  h3 {
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    gap: 0.5rem;
    position: fixed;
    color: cyan;
    bottom: 0.5rem;
    text-transform: uppercase;
    font: {
      family: "blindish";
      size: 2rem;
      weight: 200;
    }
    width: 100%;
    text-align: center;
  }
  article {
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      object-fit: contain;
    }
  }
}

.hero {
  position: relative;
  filter: drop-shadow(0 0 5rem blue);
  img {
    animation: zoomIn 0.2s linear forwards infinite;
    filter: blur(10px);
  }
  mix-blend-mode: color-dodge;
  overflow: hidden;
  z-index: 1;

  span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9rem;
    color: rgba(white, 0.3);

    font: {
      size: 20rem;
      family: "linebeam";
      weight: 200;
    }
    text-transform: uppercase;
    // writing-mode: sideways-lr;
    z-index: 1;
  }
}

.neon {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(blue, 0.2);
  mix-blend-mode: color;
  span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9rem;
    color: rgba(red, 0.7);
    width: 100%;

    font: {
      size: 20rem;
      family: "linebeam";
      weight: 200;
    }
    text-transform: uppercase;

    z-index: 2;
  }
  img {
    filter: drop-shadow(var(--shift) 0 0 cyan)
      drop-shadow(calc(-1 * var(--shift)) 0 0 red) blur(50px);
  }
  animation: changeShadow 0.15s ease-in-out forwards infinite alternate;
}

.shadows {
  position: relative;

  span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9rem;
    color: rgba(red, 0.2);
    width: 100%;

    font: {
      size: 20rem;
      family: "linebeam";
      weight: 200;
    }
    text-transform: uppercase;
  }
  div {
    width: 100%;
    height: 100%;
    animation: strobing 0.25s linear forwards infinite;
    mix-blend-mode: overlay;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes strobing {
  0%,
  70%,
  100% {
    background: white;
  }

  20%,
  60% {
    background: rgba(black, 0.7);
  }
}

@keyframes changeShadow {
  0% {
    --shift: 0px;
    opacity: 0;
  }

  100% {
    --shift: 50px;
    opacity: 1;
  }
}

@property --shift {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}
