@font-face {
  font-family: "1up";
  src: url("../app/fonts/1up.ttf");
}

.main {
  width: 100dvw;
  height: 100dvh;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, black 85%);
    z-index: 1;
    pointer-events: none;
  }
}

.hero {
  z-index: 2;
  position: fixed;
  top: 1;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}

.page {
  transition: all 3s;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  scroll-snap-align: center;
  flex: 0 0 100%;
  z-index: 2;

  font: {
    size: 1rem;
    family: "1up";
  }
  mix-blend-mode: screen;

  p {
    flex: 0 0 100%;
    text-align: center;
    opacity: 0;
  }
}

.header {
  position: fixed;
  bottom: 2rem;
  color:white;
  z-index: 3;
  width: 100%;
  text-align: center;
  font: {
    size: 3rem;
    family:'1up'
  }
}

.platforms {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  top: 1rem;
  right: 1rem;
  font: {
    size: 1rem;
  }
  list-style-type: none;

  justify-content: center;
  gap: 0.5rem;
}

.flicker {
  animation: flicker 1s infinite forwards;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
